section {
    height: 700px;
    padding: 6rem;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

section h2 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    color: #464547;
    font-size: 48px;
}

section h3 {
    color: #666666;
    font-size: 24px;
}

section p {
    font-size: 16px;
}

section button {
    margin-inline: auto;
    padding: 0.3rem 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: white;
    background-color: #55C2D8;
    border: 1px solid #55C2D8;
    border-radius: 20px;
}

.video {
    height: 822px;
    padding: 6rem;
    background: url(../assets/background_2.png) no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.video button {
    margin-inline: auto;
    font-size: 40px;
    height: 150px;
    width: 150px;
    background-color: #55C2D8;
    border: 1px solid #55C2D8;
    border-radius: 50%;
}

.video h2 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    color: white;
    font-size: 48px;
}